/** Fondo al body con Gradients **/
body{
    font-family: Arial, Helvetica, sans-serif; /** Tipografía **/
    margin: 0;
    height: 100vh; /** Altura **/
    display: flex; /** Organiza el contenido**/
    justify-content: center; /** Centrado horizontal **/
    align-items: center;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255, 34, 0, 0.549) 35%, rgba(255, 0, 0, 0.589) 100%); /** Color de fondo con Gradients **/
}
/** Estilos del card **/
.card{
    background:#fff; /** Color de fondo blanco **/
    width: 350px; /** Ancho del card **/
    padding: 30px 40px; /** Separacion del margen **/
    border-radius: 15px; /** Bordes redondeados **/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /** Sombra del card **/
}