/* ====== ESTILOS GENERALES ====== */
body {
  background-image: url("../img/fondo.jpg");
}
.logo {
  position: absolute;
  left: 1800px;
  top: 20px;
}
  @keyframes color-rgb {
  0% { color: rgb(255, 0, 0); } /* Rojo */
  25% { color: rgb(0, 255, 0); } /* Verde */
  50% { color: rgb(0, 0, 255); } /* Azul */
  75% { color: rgb(255, 255, 0); } /* Amarillo */
  100% { color: rgb(255, 0, 0); } /* Rojo */
}
header{
  animation: color-rgb 2.5s infinite;
    }
.titulo,
.cabezera,
.parrafo,
.texto_Blanco {
  color: white;
}

/* ====== ESTRUCTURA ====== */

.footer {
  position: absolute;
  top: 1100px;
  bottom: 0;
  width: 100%;
  height: 50px;         /* Altura del footer */
  color: white;         /* Color del texto del footer */
  text-align: center;   /* Centrar el texto */
  line-height: 50px;    /* Alinear verticalmente el texto */
}

/* ====== NAVEGACIÓN ====== */
header li a {
  text-decoration: none;
  list-style: none;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2rem;
}

/* ====== Caratula ====== */
.titulo{
  display: flex; 
}
section {
  display: flex;
  margin: 30px;
  padding: 50px;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* ====== TEXTOS DE INICIAR SECCION ====== */
.marge {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.from-group {
  margin-bottom: 15px;
  color: blue;

}
.contenedor {
  background-color: rgb(0, 0, 0);
 }  /* Fondo semitransparente */

 .hover-zoom{
  /* Efecto de zoom y brillo al pasar el cursor */
  transition: transform 0.3s ease,
  filter 0.4s ease;
  border-radius: 10px;
 }

  .hover-zoom:hover{
    /* Efecto de zoom y brillo al pasar el cursor */
    transform: scale(1.2);
    filter: brightness(1.2);
  } 