.titulo{
	color: white;
}
.cabezera{
	color:white;
}
.cuerpo{
	background-color: green;
	color: white;
}
body{
	background-color: black;
}
.video_SF{
  position: absolute;
  top: 150px;
  right: 0px;
  left: 400px;
  width: 200px;
  height: 100px;
}
